/* ---------- Base ---------- */
:host {
  font-family: Inconsolata;
  font-size: 13px;
  letter-spacing: 0.4px;
}
ul {
    padding: 0;
}

/* ---------- Layout ---------- */
.header {
  margin: 20px auto 0;
  width: 700px;
}
.content {
  margin: 30px auto;
  width: 700px;
}

/* ---------- Actions ---------- */
.actions-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

@media print {
    .actions-container {
        display: none;
    }
}

/* ---------- Header ---------- */
.header__name {
  font-size: 42px;
  margin-bottom: 15px;
  font-weight: 400;
}
.header__contact-info {
  display: inline-block;
  margin: 0 20px 0 0;
}
.header__contact-info > i {
  margin-right: 5px;
  font-size: 16px;
}

/* ---------- Content ---------- */
.section {
  margin-top: 30px;
}
.section__title {
  border-bottom: 1px solid #ddd;
  font-size: 19px;
  font-weight: 400;
  padding-bottom: 4px;
}
.section__skills {
  padding-top: 10px;
}
.section__skills__skill {
  padding: 5px 7px;
  display: inline-block;
  margin: 10px 9px 0 0;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  -webkit-print-color-adjust: exact;
}

.subsection {
  margin-top: 15px;
}
.subsection__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
  display: inline-block;
}
.subsection__time-period {
  font-size: 13px;
  font-weight: 400;
  margin-left: 15px;
}
.subsection__subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 3px;
}
.subsection__summary > li {
  margin-left: 16px;
  margin-bottom: 5px;
  width: 660px;
}
#languages-section .subsection {
  display: inline-block;
  margin-right: 50px;
}
