<div *ngIf="!data">
    <div>
        <div class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">How it works</h1>
                <p class="lead text-muted">Click on the button below to upload your JSON file.</p>
                <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
                <app-cv-loader (fileSelect)="onFileSelected($event)"></app-cv-loader>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data">
    <div>
        <div class="container">
            <pre>{{ data | json }}</pre>
        </div>
    </div>
</div>
