.navbar-brand {
    margin: 0;
}

.github-icon-svg {
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
}

.github-icon-svg .icon {
    fill: rgba(255, 255, 255, 0.5);
}

.nav-link:hover .github-icon-svg .icon {
    fill: rgba(255, 255, 255, 0.75);
}
