.navbar-brand {
    margin: 0;
}

.nav-link {
    .github-icon-svg {
        width: 21px;
        height: 21px;
        vertical-align: text-bottom;

        .icon {
            fill: rgba(255, 255, 255, 0.5);
        }
    }

    &:hover .github-icon-svg .icon {
        fill: rgba(255, 255, 255, 0.75);
    }
}
