/* ---------- Base ---------- */
* {
  margin: 0;
  padding: 0;
}
#container {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #424242;
  margin: 60px auto;
  width: 800px;
}
.section {
  margin-top: 30px;
}
.section h1 {
  border-bottom: 1px solid #ddd;
  font-size: 19px;
  font-weight: 400;
}
.subsection {
  margin-top: 15px;
  padding: 0 20px;
}
.subsection h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  display: inline-block;
}
.subsection .time-period {
  font-size: 12px;
  font-weight: 400;
  margin-left: 15px;
}
.subsection h3 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
}

/* ---------- Header ---------- */
#header {
  text-align: center;
}
#header h1 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 400;
}
#header > div {
  display: inline-block;
  margin: 0 20px;
}
#header > div i {
  margin-right: 2px;
  font-size: 16px;
}

/* ---------- Skills ---------- */

#skills-wrapper {
  padding: 10px 20px 0 20px;
}
.skill-item {
  padding: 5px 7px;
  display: inline-block;
  margin: 10px 9px 0 0;
  background-color: #ddd;
  border-radius: 4px;
  -webkit-print-color-adjust: exact;
}