<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cv</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./src/main.css">
</head>
<body>

  <!-- Header -->
  <div class="header">
    <h1 class="header__name">{{ basics.name }}</h1>
    <div class="header__contact-info"><i class="fa fa-phone"></i>{{ basics.phone }}</div>
    <div class="header__contact-info"><i class="fa fa-envelope"></i>{{ basics.email }}</div>
    <div class="header__contact-info"><i class="fa fa-map-marker"></i>{{ basics.address }}</div>
  </div>

  <div class="content">
    <!-- Work experience -->
    <div id="experience-section" class="section">
      <h1 class="section__title">Work Experience</h1>

      {% for item in experience %}
        <div class="subsection">
          <h2 class="subsection__title">{{ item.company }}</h2>
          <span class="subsection__time-period">{{ item.timePeriod }}</span>
          <h3 class="subsection__subtitle">{{ item.position }}</h3>
          <ul class="subsection__summary">{{ item.summary }}</ul>
        </div>
      {% endfor %}

    </div>

    <!-- Education -->
    <div id="education-section" class="section">
      <h1 class="section__title">Education</h1>

      {% for item in education %}
        <div class="subsection">
          <h2 class="subsection__title">{{ item.institution }}</h2>
          <span class="subsection__time-period">{{ item.timePeriod }}</span>
          <p class="subsection__area">{{ item.area }}</p>
        </div>
      {% endfor %}
    </div>

    <!-- Skills -->
    <div id="skills-section" class="section">
      <h1 class="section__title">Skills</h1>

      <div class="section__skills">
        {% for skill in skills %}
          <span class="section__skills__skill">{{ skill }}</span>
        {% endfor %}
      </div>
    </div>

    <!-- Certificates -->
    <div id="certificates-section" class="section">
      <h1 class="section__title">Certificates</h1>

        {% for item in certificates %}
          <div class="subsection">
            <h2 class="subsection__title">{{ item.course }}</h2>
            <span class="subsection__time-period">{{ item.timePeriod }}</span>
            <p class="subsection__institurion">{{ item.institution }}</p>
          </div>
        {% endfor %}
    </div>
  </div>
</body>
</html>
