<div class="container">
    <div class="text-center">
        <h1 class="mt-5">Professional CV from a JSON file</h1>
        <span class="link" (click)="onExampleClick()">
            Click here to see an example
        </span>

        <h2 class="mt-4">How to generate your CV</h2>
        <ul class="text-muted">
            <li>
                1. <a href="/assets/cv.json" download>Click here</a> to download
                the starter JSON file.
            </li>
            <li>2. Update the file with your personal data.</li>
            <li>3. Click on the button below to upload.</li>
        </ul>

        <label class="btn btn-primary" for="file-selector">
            <input
                id="file-selector"
                type="file"
                (change)="onFileSelected($event)"
                style="display:none;"
            />
            Upload File
        </label>

        <p class="error message text-danger">{{ error }}</p>
    </div>
</div>
